Workflow_Example/data/cifar-10-batches-py/data_batch_2
Workflow_Example/data/cifar-10-batches-py/batches.meta
Workflow_Example/data/cifar-10-batches-py/data_batch_1
Workflow_Example/data/cifar-10-batches-py/data_batch_3
Workflow_Example/data/cifar-10-batches-py/data_batch_4
Workflow_Example/data/cifar-10-batches-py/data_batch_5
Workflow_Example/data/cifar-10-python.tar.gz
